.contact-page {
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.contact-page h1 {
  font-size: 36px;
  color: #0077b6;
  margin-bottom: 10px;
}

.contact-page p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.contact-form {
  background-image: url(../../assets/backgroundcontact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 15px;
  text-align: left;
}
.form-group label {
  display: block;
  font-size: 14px;
  color: #b6dcec;
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #0077b6;
}

.submit-btn {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-btn:hover {
  background-color: #005f87;
}
.social-links {
  margin-top: 30px;
}
.social-links h2 {
  font-size: 24px;
  color: #0077b6;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: #0077b6;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.social-icons a:hover {
  color: #005f87;
  transform: translateY(-1px);
}
.social-icons i {
  margin-right: 8px;
}
