.navbar {
  background-color: #62aed6;
  padding: 10px;
  border: 2px solid #20688f;
  border-radius: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;

  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #0f3941;
}

.contact-link {
  color: white;
  text-decoration: none;
}

.contact-link:hover {
  color: #90e0ef;
}
