.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #a9c9e7;
  direction: rtl;
}

.main-content {
  flex-grow: 1;
  text-align: center;
  padding: 16px;
  color: #333;
}

.main-content h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 16px 0;
}

.main-content p {
  font-size: 18px;
  color: #555;
}

.logo {
  text-align: center;
  background: linear-gradient(to bottom, #a9c9e7, #d2a9e7);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
